$modularscale: (
  base: 1em,
  ratio: $augmented-fourth
);

@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

.s-page {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  font-size: 20px;
  line-height: 1.5em;

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__content {
    flex-grow: 1;
    overflow: hidden;
    padding-top: 97px;

    @media only screen and (min-width: $screen-sm) {
      padding-top: 102px;
    }

    @media only screen and (min-width: $screen-md) {
      padding-top: 132px;
    }
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  word-break: break-word;
  background-color: $bg-color;
  font-family: $font-family;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex='-1']:focus {
  outline: none;
}

[role='button'] {
  cursor: pointer;
}

[type='search']::-webkit-search-decoration {
  appearance: none;
}

a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation;
  margin: 0;
}

button,
input {
  overflow: visible;
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

svg {
  fill: currentColor;

  &:not(:root) {
    overflow: hidden;
  }

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {

  &:hover,
  &:focus {}

  &[href^='tel:'] {

    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box;
  height: 0;
  border: 0;
  overflow: visible;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--heading;
  font-weight: 700;
  color: currentColor;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;

  & + & {
    margin-top: 0.5rem;
  }
}

address {
  font-style: normal;
}

ul,
ol {

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}


ol {
  counter-reset: section;
  list-style-type: none;

  li {

    &::before {
      counter-increment: section;
      content: counters(section, '.');
    }
  }
}

dl {

  dt,
  dd {
    margin-left: 0;
  }

  dt {
    font-weight: 700;
  }

  dd + dt {
    padding-top: 0.5rem;
  }
}

b,
strong {
  font-weight: 700;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}