.s-about-project {

  &__container {
    @extend .s-promo__container;
  }

  &__cover {
    @extend .s-promo__cover;
  }

  &__info {
    @extend .s-promo__info;
  }

  &__subtitle {
    @extend .s-promo__subtitle;
  }

  &__title {
    @extend .s-promo__title;
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.5em;
  }

  &__location {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;

    &::before {
      content: '';
      position: absolute;
      top: 0.125rem;
      left: 0;
      width: 14px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 14 14'%3E%3Cpath fill='%23222F3A' d='M0.68226 7.64049H6.36242L6.33566 13.3163C6.33478 13.6331 6.55274 13.9088 6.86171 13.9817C7.17068 14.0545 7.4892 13.9053 7.63048 13.6215L13.9275 0.989098C14.0594 0.726198 14.008 0.408496 13.7999 0.200422C13.5917 -0.00765177 13.2735 -0.0593957 13.0099 0.0719709L0.372572 6.34939C0.0914896 6.49302 -0.0546478 6.80995 0.0188738 7.11646C0.0923955 7.42298 0.366487 7.63949 0.68226 7.64049Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__deco-line {
    @extend .s-promo__deco-line;
  }
}