.s-news {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;

  @media only screen and (min-width: $screen-sm) {
    padding-top: 3rem;
    padding-bottom: 3.75rem;
  }

  &__container {
    @include container;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      width: calc(100% + 0.75rem);
      height: 1px;
      background-color: $primary-color;
    }
  }

  &__header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
      padding-top: 2.25rem;
    }
  }

  &__title {
    @include section-title;
    padding-left: 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
    }
  }

  &__more-link {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 600;
    text-decoration: none;
    color: $accent-color;
    position: relative;
    margin-left: 1.5rem;

    @media only screen and (max-width: ($screen-xs - 1)) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: -0.25rem;
      right: -0.25rem;
      bottom: -0.25rem;
      left: -0.25rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -0.125rem;
      left: 0;
      width: 100%;
      height: 1px;
      transform: scaleX(1);
      transition: transform 0.25s $transition-timing--linear;
      background-color: currentColor;
      transform-origin: left center;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      &::after {
        transform: scaleX(0);
        transform-origin: right center;
      }
    }
  }

  &__slider-nav {
    display: flex;
    flex-flow: row nowrap;
    transition-duration: 0.75s;
    transition-timing-function: $transition-timing;
    transition-delay: 1s;
    padding-right: 1rem;
    margin-left: auto;
  }

  &__slider-nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 0.5rem;
    transition: all 0.5s $transition-timing--linear;
    outline: none;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      height: 19px;
    }

    &::after {
      content: '';
      position: absolute;
      top: -0.75rem;
      right: -0.75rem;
      bottom: -0.75rem;
      left: -0.75rem;
    }

    &:active {

      svg {

        @media only screen and (min-width: $screen-sm) {
          fill: $primary-color;
        }
      }
    }

    &[aria-disabled='true'] {

      svg {
        opacity: 0.25;
      }
    }

    svg {
      display: block;
      transition: all 0.5s $transition-timing--linear;
      fill: currentColor;
    }

    &--prev {

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }
  }

  &__deco-line {
    position: absolute;
    top: -2.25rem;
    left: 100%;
    width: 1px;
    height: 3rem;
    background-color: $primary-color;
  }
}