.s-timeline {
  padding-top: 2.25rem;

  @media only screen and (min-width: $screen-sm) {
    padding-top: 4.5rem;
  }

  &__container {
    @include container;
    position: relative;
    padding-bottom: 2.25rem;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      padding-bottom: 4.5rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: -1.5rem;
      right: 100%;
      bottom: 0;
      width: 1px;
      background-color: $border-color;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 100%;
      width: calc(100% + 0.75rem);
      height: 1px;
      background-color: $primary-color;
    }
  }

  &__main {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 2.25rem 4.5rem 0 1.5rem;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__year {
    font-size: ms(4);
    line-height: 1em;
    font-family: $font-family--heading;
    margin-top: 0;
    margin-bottom: 0.75rem;
    color: $primary-color;
    font-weight: 700;
    position: relative;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(5);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: $primary-color;
    }

    &::before {
      top: 50%;
      right: calc(100% + 1.5rem);
      width: 1px;
      height: 1.5rem;
      transform: translate3d(0, -50%, 0);
    }

    &::after {
      top: 50%;
      right: calc(100% + 0.75rem);
      width: 1.5rem;
      height: 1px;
      transform: translate3d(0, -50%, 0);
    }
  }

  &__year-ghost {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    opacity: 0.075;
    color: $text-color;
  }

  &__year-desc {
    font-size: ms(-1);
    line-height: 1.5em;
  }

  &__to-the-team {
    margin-top: 3rem;

    @media only screen and (min-width: $screen-sm) {
      margin-top: 3.75rem;
    }
  }
}