mixin employee(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';

    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-employee--' + modsList[i].trim();
      }
    }

  .s-employee(class=allMods)&attributes(attributes)
    .s-employee__photo
      img(src=props.photo, alt='')
    .s-employee__info
      h2.s-employee__name #{props.name}
      span.s-employee__position #{props.position}
      ul.s-employee__contact-list
        li
          span Тел.
          a(href='tel:+78127866740') +7 (812) 786-67-40
        li
          span E-mail
          a(href='mailto:' + props.email) #{props.email}