mixin mobile-menu()

  .s-mobile-menu
    .s-mobile-menu__inner
      .s-mobile-menu__block.s-mobile-menu__block--nav
        ul
          li: a(href='about.html') О нас
          li: a(href='services.html') Услуги
          li: a(href='projects.html') Проекты
          li: a(href='') Партнеры
          li: a(href='rent.html') Аренда
          li: a(href='') Новости
          li: a(href='contacts.html') Контакты
      .s-mobile-menu__block.s-mobile-menu__block--address
        address Санкт-Петербург, ул. Бумажная, д. 15
      .s-mobile-menu__block.s-mobile-menu__block--contacts
        ul
          li: a(href='tel:+78127866740') +7 812 786-67-40
          li: a(href='mailto:mail@cpkbhm.com') mail@cpkbhm.com
