mixin btn(text, mods, isInput)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-btn--' + modsList[i].trim();
      }
    }

  if (attributes.href)
    a.s-btn(class=allMods)&attributes(attributes)
      span.s-btn__label!= text
      span.s-btn__icon-wrapper
        span.s-btn__icon.s-btn__icon--default
        span.s-btn__icon.s-btn__icon--hover

  else if (typeof(isInput) !== 'undefined' && isInput)
    input.s-btn(class=allMods, value=text, type='button')&attributes(attributes)

  else
    button.s-btn(class=allMods)&attributes(attributes)!= text
      block
