.s-rent-location {

  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 4.5rem;
  }

  &__container {
    @include container;
    position: relative;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__info {
    padding: 0 1rem 1rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 2.25rem 0 1.5rem;
    }
  }

  &__address {
    margin-bottom: 1.5rem;
  }

  &__subtitle {
    font-size: ms(-2);
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: $font-family;
    color: $primary-color;
  }

  &__location {
    font-size: ms(0);
    font-family: $font-family--heading;
    text-transform: uppercase;
    line-height: 1.3em;
  }

  &__contacts-intro {
    font-size: ms(-1);
    line-height: 1.4em;
    margin-bottom: 0.75rem;
  }

  &__contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      a {
        display: inline-block;
        font-size: ms(0);
        font-family: $font-family--heading;
        text-transform: uppercase;
        line-height: 1.3em;
        text-decoration: none;
        color: $text-color;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $primary-color;
        }
      }
    }
  }

  &__map {
    position: relative;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 25%;
      max-width: 25%;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: (4 / 3) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__deco-line {
    position: absolute;
    top: -2.25rem;
    left: 100%;
    width: 1px;
    height: 1.5rem;
    background-color: $primary-color;
  }
}