.s-services {
  @include section-padding;

  &__container {
    @include container;
  }

  &__title {
    @include section-title;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-bottom: 3rem;
    }
  }

  &__list {
    margin: 0;
    padding: 0 1rem;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
    }
  }

  &__item {
    list-style: none;
    margin: 0;
    padding: 0;

    @media only screen and (max-width: ($screen-sm - 1)) {

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    @media only screen and (min-width: $screen-sm) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  }

  &__item-card {
    display: block;
    position: relative;
    padding: 1.5rem;
    color: $text-color;
    text-decoration: none;

    @media only screen and (max-width: ($screen-sm - 1)) {
      padding: 1rem;
      background-color: $bg-color--shade;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -0.75rem;
      right: 0;
      bottom: -3rem;
      left: 0;
      background-color: $primary-color;
      opacity: 0;
    }

    &:hover,
    &:focus {
      color: #fff;

      &::before {
        opacity: 1;
      }

      .s-services__item-icon svg {
        fill: #fff;
      }

      .s-services__item-tip {
        color: $accent-color;
      }
    }
  }

  &__item-icon {
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 1.5rem;

    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      fill: $accent-color
    }
  }

  &__item-title {
    font-size: ms(0);
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1.5rem;

    @media only screen and (max-width: ($screen-sm - 1)) {
      margin-bottom: 0.75rem;
    }
  }

  &__item-tip {
    font-size: ms(-2);
    line-height: 1.4em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
}