extends ../pug/layout.pug

block meta
  - var title = 'About Us';
  title= title
  meta(name='description', content='')

block content
  section.s-about-us
    .s-about-us__container
      .s-about-us__cover
        img(src='https://images.unsplash.com/photo-1554282172-e44638f292f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='')
      .s-about-us__info
        strong.s-about-us__subtitle О нас
        h1.s-about-us__title
          span ОАО “ЦПКБХМ” — многопрофильная проектная организация
          | , выполняющая функции генерального проектировщика
        .s-about-us__desc
          p Мы разрабатываем проектно-сметную документацию по новому строительству, реконструкции, модернизации, техническому перевооружению, расширению производственных сооружений, жилых и общественных зданий. Выполняем функции генеральной проектной организации, осуществляем авторский надзор за строительством объектов по выполненной документации, а также сопровождение проектов на любой стадии.
        +btn('Наше руководство')(href='/').s-about-us__more-btn
      .s-about-us__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')

  section.s-facts-about-us
    .s-facts-about-us__container
      .s-facts-about-us__main-info
        h2.s-facts-about-us__title
          | Мы —
          span  ведущая в Российской Федерации организация по проектированию объектов для производства средств защиты человека
          |  от воздействия поражающих факторов различной природы и специальных химических продуктов и материалов, используемых для их изготовления.
        ul.s-facts-about-us__orders
          li
            .s-facts-about-us__order-author
              img(src='img/minpromtorg-logo.svg', alt='', width='176', height='30')
            p Приказом Министерства промышленности и торговли РФ №1703 от 23.10.2013 Общество включено в Сводный реестр организаций оборонно-промышленного комплекса.
          li
            .s-facts-about-us__order-author
              img(src='img/roshim-logo.svg', alt='', width='137', height='40')
            p Указом Президента РФ от 29.10.2003 № 1265 ОАО «ЦПКБХМ» включено в состав ОАО «Корпорация «Росхимзащита».
      .s-facts-about-us__certificates
        .s-facts-about-us__certificates-intro
          p Сотрудники ОАО «ЦПКБХМ» обладают многолетним опытом разработки документации по реконструкции и техническому перевооружению специальных производств различных предприятий, регулярно проходят повышение квалификации. Мы стремимся применять новые технологии и ищем новые пути решения поставленных задач.
        .s-facts-about-us__certificates-lists
          .s-facts-about-us__certificates-group
            h3.s-facts-about-us__certificates-group-subtitle Лицензии
            ul
              li ISO 9001:2015
              li ISO / IEC 27001
          .s-facts-about-us__certificates-group
            h3.s-facts-about-us__certificates-group-subtitle Сертификаты
            ul
              li Сертификат соответствия техническим регламентам ЕАЭС
              li Сертификат ТР ТС 010/2011
              li Техническая документация и ТУ
      +accent-link('История нашего бюро', 'https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80').s-facts-about-us__to-the-history
      .s-facts-about-us__deco-line.s-facts-about-us__deco-line--horizontal
      .s-facts-about-us__deco-line.s-facts-about-us__deco-line--vertical(class='s-rellax', data-rellax-speed='-1', data-rellax-percentage='0.5')