extends ../pug/layout.pug

block meta
  - var title = 'History';
  title= title
  meta(name='description', content='')

block content
  section.s-into-the-history
    .s-into-the-history__container
      .s-into-the-history__cover
        img(src='https://images.unsplash.com/photo-1543726311-cec20bfb1668?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80', alt='')
      .s-into-the-history__info
        strong.s-into-the-history__subtitle История
        h1.s-into-the-history__title
          | Мы — многопрофильная проектная организации,
          span  более 50 лет выполняющая функции генерального проектировщика
        .s-into-the-history__desc
          p Приоритетным направлением деятельности является выполнение проектных работ по реконструкции и новому строительству производственных зданий и сооружений, техперевооружению производственных мощностей и инфраструктуры предприятий, адаптация проектной документации, разработанной иностранными компаниями, в соответствии с действующими нормами и правилами на территории России.
          p Создание Центрального проектно-конструкторского и технологического бюро химического машиностроения. Основателем и первым директором предприятия был Николай Иванович Изюмов, возглавлявший организацию с 1956 по 1978 гг.
      .s-into-the-history__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')

  .s-timeline
    .s-timeline__container
      .s-timeline__main
        ul.s-timeline__list
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 1956
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 1956
            .s-timeline__year-desc
              p Создание Центрального проектно-конструкторского и технологического бюро химического машиностроения. Основателем и первым директором предприятия был Николай Иванович Изюмов, возглавлявший организацию с 1956 по 1978 гг. Под его руководством был создан мощный конструкторский коллектив, который успешно справлялся с задачами укрепления обороноспо-собности страны.
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 1967
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 1967
            .s-timeline__year-desc
              p По решению МХП СССР на ЦПКБХМ были возложены задачи по проекти-рованию производств средств защиты и в составе ЦПКБХМ была создана про-ектная часть. ЦПКБХМ стала генеральной проектной организацией по проектированию производств средств защиты (СИЗОД, КСЗ, фильтрующих материалов, активных углей и катализаторов на их основе).
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 1978
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 1978
            .s-timeline__year-desc
              p Директором ЦПКБХМ был назначен Тумасов Геннадий Петрович. При его активном участии было получено разрешение и осуществлено строительство инженерного корпуса ЦПКБХМ. Коллективом ЦПКБХМ разработаны и внедрены проекты уникальных по-точных линий по выпуску снаряжения, испытательные стенды для автомобильной промышленности, оборудование для спецхимии, разработаны проекты реконструкции десятков заводов, спроектирован новый завод в Казахстане.
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 1985
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 1985
            .s-timeline__year-desc
              p Борисоглебский Александр Сергеевич — назначен директором ЦПКБХМ приказом МХП СССР № 128/К от 22.04.85.
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 1994
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 1994
            .s-timeline__year-desc
              p В 1994 г., в соответствии с решением Правительства РФ, был осуществлен процесс приватизации. Государственное предприятие «ЦПКБХМ» было преоб-разовано в открытое акционерное общество «Центральное проектно-конструкторское и технологическое бюро химического машиностроения» (ОАО «ЦПКБХМ»), зарегистрировано Решением   Регистрационной палаты Мэрии Санкт-Петербурга № 10540 от 19.09.1994 (Свидетельство регистрации № 7409 от 19 сентября 1994 г.).
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 2003
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 2003
            .s-timeline__year-desc
              p Указом Президента РФ от 29.10.2003 № 1265 ОАО «ЦПКБХМ» включено в состав ОАО «Корпорация «Росхимзащита».
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 2009
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 2009
            .s-timeline__year-desc
              p Радзивиллович Владимир Виктор-Станиславович — назначен генеральным директором ОАО «ЦПКБХМ».
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 2018
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 2018
            .s-timeline__year-desc
              p Шуйский Сергей Анатольевич — назначен генеральным дирек-тором ОАО «ЦПКБХМ».
          li.s-timeline__item
            .s-timeline__year
              h2.s-timeline__year-main 2020
              span.s-timeline__year-ghost(class='s-rellax', data-rellax-speed='-0.75', data-rellax-percentage='0.5') 2020
            .s-timeline__year-desc
              p Ветлугин Сергей Юрьевич — назначен генеральным директором.
      +accent-link('Руководство бюро', 'https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80').s-timeline__to-the-team