extends ../pug/layout.pug

block meta
  - var title = 'Projects';
  title= title
  meta(name='description', content='')

block content
  section.s-main-projects
    .s-main-projects__container
      .s-main-projects__intro
        strong.s-main-projects__subtitle Проекты
        h1.s-main-projects__title Наши основные проекты
        .s-main-projects__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')
      ul.s-main-projects__list
        li.s-main-projects__item
          +project-card({
            title: 'Audio центр Петербург',
            date: '2020',
            cover: 'https://images.unsplash.com/photo-1597007030680-cad20bd72a30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'
          })
        li.s-main-projects__item
          +project-card({
            title: 'Север Ликвид Газ',
            date: '2020',
            cover: 'https://images.unsplash.com/photo-1469510038946-6bf892bbe9d6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80'
          })
        li.s-main-projects__item
          +project-card({
            title: 'Союз ТТМ Калининград',
            date: '2020',
            cover: 'https://images.unsplash.com/photo-1517816981644-e0e3de7743e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'
          })
        li.s-main-projects__item
          +project-card({
            title: 'Юникосметик',
            date: '2019',
            cover: 'https://images.unsplash.com/photo-1587145679880-7059d484b3ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80'
          })

  section.s-other-projects
    .s-other-projects__container
      .s-other-projects__intro
        h2.s-other-projects__title Другие проекты
      .s-other-projects__info
        ul.s-other-projects__list
          li.s-other-projects__item(data-year='2018') Audio центр Петербург
          li.s-other-projects__item(data-year='2018') Север Ликвид Газ
          li.s-other-projects__item(data-year='2017') Юникосметик
          li.s-other-projects__item(data-year='2016') Союз ТТМ Калининград
          li.s-other-projects__item(data-year='2016') Согаз
          li.s-other-projects__item(data-year='2014') МЭС Северо-запада
          li.s-other-projects__item(data-year='2011') Гранд каньон