extends ../pug/layout.pug

block meta
  - var title = 'Rent';
  title= title
  meta(name='description', content='')

block content
  section.s-rent
    .s-rent__container
      .s-rent__cover
        img(src='https://images.unsplash.com/photo-1536179247184-595913ca4a28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2775&q=80', alt='')
      .s-rent__info
        strong.s-rent__subtitle Аренда
        h1.s-rent__title
          | ОАО «ЦПКБХМ»
          br
          span  предлагает в аренду от собственника офисные помещения
          br
          |  в пешеходной доступности от станции метро Нарвская.
        .s-rent__desc
          span.s-rent__desc-title Характеристики:
          ul
            li площадь до 160 кв.м.;
            li разнообразные планировки;
            li высота потолка от 2,5 м до 6 м;
            li круглосуточная охрана;
            li возможность использовать парковочные места;
            li столовая;
            li 2 км от Западного скоростного диаметра (ЗСД).
      .s-rent__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')

  section.s-providers
    .s-providers__container
      .s-providers__main-info
        h2.s-providers__title
          span  Телекоммуникационное обслуживание
          |  арендаторов производится на основании отдельных договоров, заключаемых с компаниями-поставщиками данных услуг. В настоящее время партнерами ОАО «ЦПКБХМ» являются компании Eтелеком, Ростелеком, Морской экспресс, МТС, Мегафон.
      .s-providers__additional-info
        ul.s-providers__list
          li
            .s-providers__icon
              img(src='img/rostelecom.svg', alt='', width='115', height='30')
          li
            .s-providers__icon
              img(src='img/etelecom.svg', alt='', width='112', height='40')
          li
            .s-providers__icon
              img(src='img/megafon.svg', alt='', width='141', height='25')
          li
            .s-providers__icon
              img(src='img/mts.svg', alt='', width='80', height='20')
      .s-providers__deco-line.s-providers__deco-line--horizontal
      .s-providers__deco-line.s-providers__deco-line--vertical(class='s-rellax', data-rellax-speed='-1', data-rellax-percentage='0.5')

  .s-rent-location
    .s-rent-location__container
      .s-rent-location__info
        .s-rent-location__address
          h3.s-rent-location__subtitle Адрес
          address.s-rent-location__location 190020, Санкт-Петербург, ул. Бумажная, дом 15
        .s-rent-location__contacts
          .s-rent-location__contacts-intro
            p По вопросам аренды обращайтесь в отдел по работе с недвижимостью по телефону или электронной почте:
          ul.s-rent-location__contacts-list
            li
              h3.s-rent-location__subtitle Телефон
              a(href='tel:+79557121084') +7 955-712-10-84
            li
              h3.s-rent-location__subtitle E-mail
              a(href='mailto:arenda@cpkbhm.com') arenda@cpkbhm.com
      .s-rent-location__map
        img(src='img/map-example-small.jpg', alt='')
      .s-rent-location__deco-line(class='s-rellax', data-rellax-speed='1', data-rellax-percentage='0.5')