extends ../pug/layout.pug

block meta
  - var title = 'Services';
  title= title
  meta(name='description', content='')

block content
  section.s-what-we-do
    .s-what-we-do__container
      .s-what-we-do__intro
        strong.s-what-we-do__subtitle Услуги
        h1.s-what-we-do__title
          | Решения, которые мы предлагаем для
          span  успеха вашего бизнеса
        .s-what-we-do__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')
      ul.s-what-we-do__list
        li.s-what-we-do__item
          +what-we-do-card({
            title: 'Проектирование консалтинг',
            cover: 'https://images.unsplash.com/photo-1511271004193-d47c3a7b22fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'
          })
        li.s-what-we-do__item
          +what-we-do-card({
            title: 'Сопровождение проектов',
            cover: 'https://images.unsplash.com/photo-1541888894402-f3b1af908be4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80'
          })
        li.s-what-we-do__item
          +what-we-do-card({
            title: 'Обследование зданий и сооружений',
            cover: 'https://images.unsplash.com/photo-1518613559939-e680cdc77551?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80'
          })
        li.s-what-we-do__item
          +what-we-do-card({
            title: 'Дополнительные услуги',
            cover: 'https://images.unsplash.com/photo-1522517779552-6cf4c1f31ee3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80'
          })