extends ../pug/layout.pug

block meta
  - var title = 'Team';
  title= title
  meta(name='description', content='')

block content
  section.s-team
    .s-team__container
      .s-team__intro
        strong.s-team__subtitle Команда
        h1.s-team__title Руководство нашей компаниии
        .s-team__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')
      ul.s-team__list
        li.s-team__item
          +employee({
            photo: 'https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=728&q=80',
            name: 'Ветлугин Сергей Юрьевич',
            position: 'Генеральный директор, доктор экономических наук',
            email: 'mail@cpkbhm.com'
          })
        li.s-team__item
          +employee({
            photo: 'https://images.unsplash.com/photo-1521061972219-a1894a27a040?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80',
            name: 'Десятко Евгений Николаевич',
            position: 'Заместитель генерального директора по развитию, кандидат экономических наук',
            email: 'den@cpkbhm.com'
          })
        li.s-team__item
          +employee({
            photo: 'https://images.unsplash.com/photo-1580635154775-fc15cb6e0595?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80',
            name: 'Цихлакиди Вадим Гарриевич',
            position: 'Главный инженер',
            email: 'v.tsihlakidi@cpkbhm.com'
          })
        li.s-team__item
          +employee({
            photo: 'https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80',
            name: 'Лунева Елена Александровна',
            position: 'Заместитель генерального директорапо экономике и финансам',
            email: 'e.luneva@cpkbhm.com'
          })
        li.s-team__item
          +employee({
            photo: 'https://images.unsplash.com/photo-1519895609939-d2a6491c1196?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80',
            name: 'Кокинаева Лариса Леонидовна',
            position: 'Главный бухгалтер',
            email: 'gbuh@cpkbhm.com'
          })
        li.s-team__item
          +employee({
            photo: 'https://images.unsplash.com/photo-1600101828777-4eddd30db2c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80',
            name: 'Шепель Пётр Федорович',
            position: 'Начальник службы эксплуатации и сервиса',
            email: 'p.shepel@cpkbhm.com'
          })