.s-accent-link {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  transition: transform 0.75s $transition-timing--linear;
  color: #fff;
  padding-top: 4.5rem;
  text-decoration: none;
  will-change: transform;

  &:hover,
  &:focus {
    transform: scale(0.99);
    text-decoration: none;

    .s-accent-link__deco-line {
      transform: scaleY(0);
      transform-origin: bottom center;
    }

    .s-accent-link__cover {

      &::after {
        background-color: rgba($text-color, 0.75);
      }

      img {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    z-index: 2;
    font-family: $font-family--heading;
    text-transform: uppercase;
    font-size: ms(0);
    line-height: 1.2em;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  &__deco-line {
    z-index: 2;
    width: 1px;
    height: 4.5rem;
    transform: scaleY(1);
    transition: transform 0.75s $transition-timing--linear;
    background-color: #fff;
    will-change: transform;
    transform-origin: top center;
  }

  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color 0.75s $transition-timing--linear;
      background-color: rgba($text-color, 0.9);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 0.75s $transition-timing--linear;
      object-fit: cover;
      will-change: transform;
    }
  }
}