mixin accent-link(title, image, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-accent-link--' + modsList[i].trim();
      }
    }

  a.s-accent-link(href='/', class=allMods)&attributes(attributes)
    h3.s-accent-link__title #{title}
    .s-accent-link__deco-line
    .s-accent-link__cover
      img(src=image, alt="alt")