mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods)&attributes(attributes)
    .s-page-footer__container
      .s-page-footer__main
        .s-page-footer__block.s-page-footer__block--logos
          ul
            li
              a(href='index.html')
                img(src='img/cpkbhm-logo--icon.svg', alt='', width='60', height='65')
            li
              a(href='http://krhz.ru/', target='_blank', rel='noopener')
                img(src='img/roshim-logo--icon.svg', alt='', width='53', height='56')
        .s-page-footer__block.s-page-footer__block--services
          h3.s-page-footer__subtitle Услуги
          ul
            li: a(href='service.html') Проектирование консалтинг
            li: a(href='/') Сопровождение проектов
            li: a(href='/') Обследование зданий и сооружений
            li: a(href='/') Дополнительные услуги
        .s-page-footer__block.s-page-footer__block--info
          h3.s-page-footer__subtitle Информация
          ul
            li: a(href='about.html') О нас
            li: a(href='services.html') Услуги
            li: a(href='projects.html') Проекты
            li: a(href='') Партнеры
            li: a(href='rent.html') Аренда
            li: a(href='') Новости
            li: a(href='contacts.html') Контакты
        .s-page-footer__block.s-page-footer__block--contacts
          h3.s-page-footer__subtitle Контакты
          ul
            li: a(href='tel:+78127866740') +7 812 786-67-40
            li: a(href='mailto:mail@cpkbhm.com') mail@cpkbhm.com
          address 190020, Санкт-Петербург, ул. Бумажная, д. 15
      .s-page-footer__additional
        span.s-page-footer__copyright ОАО “ЦПКБХМ” 1956-2020
        span.s-page-footer__privacy: a(href='/') Противодействие коррупции
        span.s-page-footer__sitemap: a(href='/') Карта сайта