mixin what-we-do-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';

    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-what-we-do-card--' + modsList[i].trim();
      }
    }

  a.s-what-we-do-card(href='/', class=allMods)&attributes(attributes)
    h2.s-what-we-do-card__title #{props.title}
    span.s-what-we-do-card__arrow
      svg(xmlns='http://www.w3.org/2000/svg', fill='#fff', viewbox='0 0 16 10', width='16', height='10')
        path(fill-rule='evenodd', d='M10.9887 0L16 5L10.9887 10L9.93202 8.94574L13.1395 5.74548H0V4.25452H13.1395L9.93202 1.05427L10.9887 0Z', clip-rule='evenodd')
    .s-what-we-do-card__cover
      img(src=props.cover, alt='')