.s-what-we-do-card {
  display: block;
  color: #fff;
  text-decoration: none;
  position: relative;
  min-height: 15rem;
  will-change: transform;
  transition: transform 0.75s $transition-timing--linear;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
    transform: scale(0.99);

    .s-what-we-do-card__cover {

      &::after {
        background-color: rgba($text-color, 0);
      }

      img {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    left: 1rem;
    width: 75%;
    max-width: 25rem;
    font-family: $font-family--heading;
    text-transform: uppercase;
    font-size: ms(1);
    line-height: 1.2em;

    @media only screen and (min-width: $screen-sm) {
      bottom: 1.5rem;
      left: 1.5rem;
      font-size: ms(2);
    }
  }

  &__arrow {
    position: absolute;
    z-index: 2;
    right: 1rem;
    bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      right: 1.5rem;
      bottom: 1.5rem;
    }
  }

  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color 0.75s $transition-timing--linear;
      background-color: rgba($text-color, 0.25);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 0.75s $transition-timing--linear;
      object-fit: cover;
      will-change: transform;
    }
  }
}