.s-contacts {

  &__container {
    @include container;
  }

  &__intro {
    padding: 1rem 1rem 0;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 3rem 1.5rem 0;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    @extend .s-promo__subtitle;
  }

  &__title {
    @extend .s-promo__title;
  }

  &__deco-line {
    @extend .s-promo__deco-line;
  }

  &__contacts {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      position: relative;
      margin-bottom: 2.25rem;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: calc(100% + 0.75rem);
        height: 1px;
        background-color: $primary-color;
      }
    }
  }

  &__caption {
    @include caption;
    margin-top: 0;
    margin-bottom: 0.25rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 0.5rem;
    }
  }

  &__main {
    padding: 0 1rem;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 3rem 1.5rem;
    }
  }

  &__additional {

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex: 0 0 50%;
      flex-flow: row wrap;
      position: relative;
      max-width: 50%;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 100%;
        width: calc(100% + 0.75rem);
        height: 1px;
        background-color: $primary-color;
      }
    }
  }

  &__additional-group {
    padding: 0 1rem;
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 3rem 1.5rem;
    }
  }

  &__main-list,
  &__additional-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__main-item,
  &__additional-item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 0.75rem;

      @media only screen and (min-width: $screen-sm) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__address {
    font-weight: 600;
    font-size: ms(0);
    line-height: 1.4em;
  }

  &__main-link,
  &__additional-link {
    line-height: 1.4em;
    font-weight: 600;
    display: inline-block;
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $accent-color;
    }
  }

  &__main-link {
    font-size: ms(0);
  }

  &__additional-link {
    font-size: ms(-1);
  }

  &__contacts-deco-line {

    @media only screen and (min-width: $screen-sm) {
      position: absolute;
      bottom: -1.5rem;
      left: 100%;
      width: 1px;
      height: 3rem;
      background-color: $primary-color;
    }
  }

  &__additional-deco-line {

    @media only screen and (min-width: $screen-sm) {
      position: absolute;
      top: -1.5rem;
      right: 100%;
      width: 1px;
      height: 3rem;
      background-color: $primary-color;
    }
  }

  &__company-data {
    padding: 0 1rem;
    margin-bottom: 2.25rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 0 1.5rem;
      margin-bottom: 4.5rem;
    }
  }

  &__map {
    width: 100%;
    height: 22.5rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}