.s-post {

  &:hover {

    .s-post__cover {
      transform: scale(0.975);

      img {
        transform: scale(1.1);
      }
    }
  }

  &__cover {
    display: block;
    position: relative;
    overflow: hidden;
    transition: transform 0.75s $transition-timing--linear;
    will-change: transform;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: (9 / 16) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.75s $transition-timing--linear;
      object-fit: cover;
      will-change: transform;
    }
  }

  &__info {
    padding: 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 1rem 1.5rem;
    }
  }

  &__datetime {
    font-size: ms(-2);
    line-height: 1.4em;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-family: $font-family--heading;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;

    a {
      color: $text-color;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $accent-color;
      }
    }
  }
}