.s-about-us {

  &__container {
    @extend .s-promo__container;
  }

  &__cover {
    @extend .s-promo__cover;
  }

  &__info {
    @extend .s-promo__info;
  }

  &__subtitle {
    @extend .s-promo__subtitle;
  }

  &__title {
    @extend .s-promo__title;
  }

  &__desc {
    @extend .s-promo__desc;
  }

  &__more-btn {
    @extend .s-promo__more-btn;
  }

  &__deco-line {
    @extend .s-promo__deco-line;
  }
}