.s-we-do {

  &__container {
    @extend .s-promo__container;
  }

  &__cover {
    @extend .s-promo__cover;
  }

  &__info {
    @extend .s-promo__info;
  }

  &__subtitle {
    @extend .s-promo__subtitle;
  }

  &__title {
    @extend .s-promo__title;
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.4em;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        position: relative;
        margin: 0;
        padding: 0;
        padding-left: 1rem;

        &::before {
          content: '';
          position: absolute;
          top: 0.25rem;
          left: 0;
          width: 0.5rem;
          height: 0.5rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Cpath fill='%23184C78' d='M8.94166 0.248115L3.02352 6.8507L1.431 4.7851C0.728818 4.12369 -0.374892 4.894 0.12653 5.88553L2.01971 9.49173C2.32037 9.93191 3.02353 10.3721 3.72474 9.49173C4.0254 9.05156 9.74374 1.2385 9.74374 1.2385C10.4469 0.358158 9.54395 -0.412143 8.94166 0.248115Z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }

        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }

        > ul {
          margin-top: 0.25rem;
        }
      }
    }
  }

  &__desc-title {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__accent-text {
    font-size: ms(0);
    font-family: $font-family--heading;
    text-transform: uppercase;
    line-height: 1.3em;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;

    span {
      color: $accent-color;
    }
  }

  &__deco-line {
    @extend .s-promo__deco-line;
  }
}