// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-color: #222f3a;
$text-color--lighter: #66828f;
$text-color--lightest: #d5dadd;

$bg-color: #fff;
$bg-color--shade: #f7f8fa;

$primary-color: #184c78;
$accent-color: #e7792b;

// Semantic colors
$success: #16c98d;
$warning: #ffc83f;
$danger: #fa5e5b;

// Fonts
$font-family: 'Open Sans',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;

$font-family--heading: 'Open Sans Condensed',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
'Helvetica Neue',
sans-serif;

$font-family--monospace: Menlo,
Monaco,
Consolas,
'Liberation Mono',
'Courier New',
nospace;

// Misc
$border-color: rgba($text-color, 0.125);
$border-radius: 2px;
$opacity: 0.5;
$box-shadow: 0 15px 45px -15px rgba($text-color, 0.25);
$transition-timing: cubic-bezier(0.9, 0.01, 0.01, 1);
$transition-timing--linear: cubic-bezier(0.165, 0.84, 0.44, 1);



@mixin container {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@mixin section-title {
  font-weight: 700;
  font-family: $font-family--heading;
  text-transform: uppercase;
  font-size: ms(1);
  line-height: 1.2em;
  margin: 0;

  @media only screen and (min-width: $screen-md) {
    font-size: ms(2);
    line-height: 1.1em;
    letter-spacing: -0.025em;
  }
}

@mixin section-padding {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;

  @media only screen and (min-width: $screen-sm) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@mixin caption {
  font-family: $font-family;
  font-size: ms(-2);
  line-height: 1.4em;
  font-weight: 700;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  color: $primary-color;
}