.s-facts-about-us {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;

  @media only screen and (min-width: $screen-sm) {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  &__container {
    @include container;
    position: relative;
    padding-top: 2.25rem;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      padding-top: 3rem;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 50%;
      height: 1px;
      background-color: $primary-color;
    }
  }

  &__main-info {
    padding: 0 1rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 1.5rem;
    }
  }

  &__title {
    font-family: $font-family--heading;
    font-size: ms(0);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    span {
      color: $accent-color;
    }
  }

  &__orders {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 600;

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__order-author {
    margin-bottom: 0.75rem;
  }

  &__certificates {
    padding: 0 1rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 1.5rem;
    }
  }

  &__certificates-intro {
    font-size: ms(-1);
    line-height: 1.4em;
    margin-bottom: 1.5rem;
  }

  &__certificates-group {

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.4em;
      font-weight: 600;

      li {
        margin: 0;
        padding: 0;
      }
    }
  }

  &__certificates-group-subtitle {
    font-size: ms(-2);
    line-height: 1.4em;
    text-transform: uppercase;
    color: $primary-color;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: $font-family;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__to-the-history {
    margin-top: 3rem;

    @media only screen and (min-width: $screen-sm) {
      margin-top: 3.75rem;
    }
  }

  &__deco-line {
    background-color: $primary-color;
    position: absolute;

    &--horizontal {
      right: calc(100% - 0.75rem);
      bottom: 100%;
      width: 1.5rem;
      height: 1px;
    }

    &--vertical {
      top: -2.25rem;
      right: 100%;
      width: 1px;
      height: 3rem;
    }
  }
}